---
layout: default
---

<div class="home">
  <h1>WPupdatePHP: Time to update your PHP version</h1>
  <p>This library and website aim to get everyone updated to at least a <a href="http://php.net/supported-versions.php">supported version of PHP</a>.</p>
  <p>WordPress has PHP 5.2.4 as the <a href="https://wordpress.org/about/requirements/">minimum required version</a>. This is a version that is unsupported since early 2011. The PHP 5.3.* versions are unsupported since August 2014 as well. This means that these versions didn't get any updates since then and leaves them as potentially insecure.</p>
  <p>PHP 5.4 is now the recommended version for WordPress, so we can actively start to ask hosts to update their PHP versions. This library helps you do that.</p>

  <h2>For non-developers</h2>
  <p>If you are not a developer, you should read our <a href="/update/">Time to update</a> page.</p>

  <h2>Developers, bundle this library with your plugins!</h2>
  <p>Are you as sick as we are by having to make our code compatible with PHP 5.2? Good! You can now use our library to enforce your users to be at a minimum PHP version.</p>
  <p>For all developers willing to contribute to this project, we have a library and more <a href="/developers/">developer resources</a> available. Please implement this library for <strong>new plugins</strong> only, we don't want to lock out users of existing plugins. It's not their fault after all.</p>

  {% if site.posts == blank %}
  <h2>Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endif %}

</div>
