---
layout: default
---

<div class="home">
  <h1>WPupdatePHP: Time to update your PHP version</h1>
  <p>This library and website aim to get everyone updated to at least a <a href="http://php.net/supported-versions.php">supported version of PHP</a>.</p>
  <p>WordPress has PHP 5.2.4 as the <a href="https://wordpress.org/about/requirements/">minimum required version</a>. This is a version that is unsupported since early 2011. The PHP 5.3.* versions are unsupported since August 2014 as well. This means that these versions didn't get any updates since then and leaves them as potentially insecure.</p>
  <p>PHP 5.4 is now the recommended version for WordPress, so we can actively start to ask hosts to update their PHP versions. This library helps you do that.</p>

  <div class="highlight">
    <h2>What is PHP?</h2>
    <p>PHP is a scripting language that powers many websites. As any piece of software, PHP is available in different versions. Some versions are no longer supported. Unfortunately, some hosting companies run really old and potentially insecure PHP versions.</p>
  </div>

  {% if site.posts == blank %}
  <h2>Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endif %}

</div>
